*{
  padding: 0;
  margin: 0;
  border: 0;
}
*,*:before,*:after{
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}
:focus,:active{outline: none;}
a:focus,a:active{outline: none;}
nav,footer,header,aside{display: block;}
html,body{
  height: 100%;
  width: 100%;
  font-size: 100%;
  line-height: 1;
  font-size: 14px;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}
input,button,textarea{font-family:inherit;}
input::-ms-clear{display: none;}
button{cursor: pointer;}
button::-moz-focus-inner {padding:0;border:0;}
a, a:visited{text-decoration: none;}
a:hover{text-decoration: none;}
ul li{list-style: none;}
img{vertical-align: top;}
h1,h2,h3,h4,h5,h6{font-size:inherit;font-weight: 400;}
/*--------------------*/

@font-face {
  font-family: 'Lato';
  font-style: normal;
  font-weight: 400;
  src: local(''),
       url('../fonts/lato-v23-latin-regular.woff2') format('woff2'), /* Super Modern Browsers */
       url('../fonts/lato-v23-latin-regular.woff') format('woff');
     }

@font-face {
  font-family: 'Lato';
  font-style: italic;
  font-weight: 400;
  src: local(''),
       url('../fonts/lato-v23-latin-italic.woff2') format('woff2'), /* Super Modern Browsers */
       url('../fonts/lato-v23-latin-italic.woff') format('woff');
}

@font-face {
  font-family: 'Lato';
  font-style: normal;
  font-weight: 700;
  src: local(''),
       url('../fonts/lato-v23-latin-700.woff2') format('woff2'), 
       url('../fonts/lato-v23-latin-700.woff') format('woff');
       
}

body {
  font-family: 'Lato', sans-serif;
}

.wrapper {
/*  min-height: 100%;*/
/*  overflow: hidden;*/
}

.container {
  max-width: 1130px;
  padding: 0 15px;
  margin: 0 auto;
}

.header {
  width: 100%;
  height: 100%;
  background: url('../images/main-screen.jpg') center no-repeat;
  background-size: cover;
  background-color: #fff;
}

.header__row {
  display: flex;
  justify-content: center;
  padding: 68px 15px 680px;
  position: relative;
}

.icon-menu {
  display: none;
}

.menu__list {
  display: flex;
}

.menu__item {
  padding: 0 37.5px;
  position: relative;
}

.menu__item:nth-child(2) {
  padding: 0 110px 0 37.5px;
}

.menu__item:nth-child(3) {
  padding: 0 37.5px 0 110px;
}

.menu__item::after {
  content: '';
  width: 2px;
  height: 2px;
  border-radius: 50%;
  background-color: #4d4959;
  position: absolute;
  top: 50%;
  right: 0;
}

.menu__item:nth-child(2):after {
  display: none;
}

.menu__item:last-child:after {
  display: none;
}

.menu__item-link {
  display: block;
  font-weight: 700;
  font-size: 13px;
  letter-spacing: 0.3px;
  word-spacing: 4px;
  color: #4d4959;
  text-transform: uppercase;
  position: relative;
}

.header__logo {
  position: absolute;
  top: 35px;
  left: 50%;
  transform: translateX(-50%);
  z-index: 5;
}

.page {
  display: flex;
  flex-direction: column;
}

.about {
  background-color: #f7f7f7;
}

.about__block {
  padding: 120px 0;
}

.block {
  text-align: center;
}

.block__icon {
  margin: 0 0 30px;
}

.block__title {
 margin: 0 0 20px;
}

.title {
  font-size: 18px;
  font-weight: 700;
  text-transform: uppercase;
  color: #353738;
  letter-spacing: 4px;
  line-height: 1.3;
}

.block__text {
  font-size: 18px;
  color: #aaacae;
  line-height: 1.88;
}

.brands__row {
  display: flex;
}

.brands__column {
  flex: 0 1 33.333%;
}

.brands__column_big {
  flex: 0 1 66.667%;
  background: url('../images/brands1.jpg') center no-repeat;
  background-size: cover;
  position: relative;
}

.brands__column_rev {
  background: url('../images/brands4.jpg') center no-repeat;
  background-size: cover;
}

.brands__column_new {
  background: url('../images/brands5.jpg') center no-repeat;
  background-size: cover;
  position: relative;
}

.brands__logo {
  position: absolute;
  width: 100%;
  height: 100%;

  display: flex;
  align-items: center;
  justify-content: center;

  background-color: transparent;
}

.brands__logo:hover  {
  background-color: rgba(114, 185, 157, 0.5);
  transition: 0.3s;
}

.brands__logo_new {
  position: absolute;
  width: 100%;
  height: 100%;

  display: flex;
  align-items: center;
  justify-content: center;

  background-color: transparent;
}

.brands__logo_new:hover  {
  background-color: rgba(114, 185, 157, 0.5);
  transition: 0.3s;
}

.brands__content {
  padding: 70px 65px 55px;
}

.block__text_j {
  font-size: 16px;
  text-align: justify;
  line-height: 1.87;
}

.block__text_j::after {
  content: '';
  width: 50px;
  height: 1px;
  background-color: #d7d7d7;
  display: block;
  margin: 35px auto 0;
}

.brands__image {
  max-height: 100%;
  position: relative;
}

.brands__image::before {
  content: '';
  position: absolute;
  top: 0;
  left: 50%;
  transform: translateX(-50%);
  width: 0;
  height: 0;
  border-left: 10px solid transparent;
  border-right: 10px solid transparent;
  border-top: 10px solid #fff;
}

.brands__image-link {
  width: 100%;
  height: 100%;
}

.brands__column-image {
  width: 100%;
  height: 100%;
}

.slider {
  background-color: #f7f7f7;
}

.slider__body {
  padding: 120px 0 60px;
}

.slider__item {
  text-align: center;
}

.slider__icon {
  margin: 0 0 32px;
}

.slider__title {
  font-size: 18px;
  font-weight: 700;
  letter-spacing: 2px;
  margin: 0 0 32px;
}

.slider__time {
  color: #848789;
}

.slider__text {
  font-size: 24px;
  font-style: italic;
  color: #939698;
  line-height: 1.4;
}

.slider__switch {
  display: flex;
  justify-content: center;
  gap: 0 9px;
  padding: 100px 0 0;
}

.slider__button {
  font-size: 0px;
  width: 11px;
  height: 11px;
  border: 1px solid #c8c8c8;
  background-color: #f7f7f7;
  border-radius: 50%;
}

.slider__button_active {
  background-color: #c8c8c8;
}

.shop__body {
  display: flex;
}

.shop__column {
  flex: 0 1 16.667%;
}

.shop__column_b {
  display: flex;
  flex-direction: column;
  flex: 0 1 33.333%;
}

.block-shop {
  flex: 0 1 50%;
}

.block-shop__row {
  display: flex;
}

.block-shop__column {
  flex: 0 1 50%;
}

.item {
/*  width: 100%;*/
  position: relative;
}

.item__logo {
  position: absolute;
  width: 100%;
  height: 100%;

  background-color: rgba(114, 185, 157, 0.5);

  display: flex;
  justify-content: center;
  align-items: center;
 
  opacity: 1;
  visibility: hidden;
}

.item:hover .item__logo {
  opacity: 1;
  visibility: visible;
}

.item__logo-text {
  display: block;
  font-size: 14px;
  font-weight: 700;
  color: #fff;
  letter-spacing: 3px;
  text-transform: uppercase;
}

.item__image-link {
  max-width: 100%;
}

.shop__footer {
  background-color: #282f35;
  text-align: center;
  padding: 74px 0;
}

.shop__btn {
  display: inline-block;
  color: #fff;
  font-size: 14px;
  font-weight: 700;
  letter-spacing: 2px;
  border: 1px solid #94979a;
  padding: 17px 56px;
}

.subscribe__body {
  max-width: 534px;
  margin: 0 auto;
  text-align: center;
  padding: 105px 0;
}

.subscribe__logo {
  margin: 0 0 39px;
}

.subscribe__title {
  font-size: 24px;
  font-style: italic;
  line-height: 1.4;
  color: #848789;
  letter-spacing: 1.5px;
  margin: 0 0 34px;
}

.subscribe__form {
  display: flex;
}

.subscribe__input {
  flex: 1 1 auto;
  margin: 0 8px 0 0;
}

.subscribe__input-form {
  border: 1px solid #d3d7d9;
  padding: 0px 25px;
  height: 69px;
  width: 100%;
}

.subscribe__input-form::placeholder {
  font-size: 20px;
  font-style: italic;
  color: #d3d7d9;
}

.subscribe__button {
  flex: 0 0 126px;
}

.subscribe__btn {
  width: 100%;
  padding: 0 42px;
  font-size: 24px;
  color: #fff;
  text-transform: uppercase;
  height: 69px;
  background-color: #64c29e;
}

.footer {
   background-color: #f7f7f7;
}

.footer__column {
  flex: 0 1 33.333%;
}

.footer__row {
  display: flex;
  justify-content: space-between;
  padding: 100px 0;
  align-items: center;
}

.footer__text {
   font-size: 14px;
  color: #848789;
  line-height: 18px;
}

p:first-child {
  font-weight: 700;
}

.footer__socials {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 0 15px;
}

.footer__dev {
  display: flex;
  justify-content: flex-end;
  align-items: center;
}

.dev__text {
  display: block;
  font-size: 14px;
  font-style: italic;
  color: #848789;
  margin: 0 8px 0 0;
}